<div class="container-fluid" id="matchContentContainer">
  <div class="row">
    <div class="col-6">
      <div class="wrapper" id="matchPostContainer">
        <div class="card" id="matchColumn">
          <div class="card-body" id="matchPost">
            {{#each matches}}
            {{> match/match-block}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <!--- CHAT BOX --->
    <div class="col-5">
      <div id="chatHeader">
        <h3><img src="../img/icons/profileIconBlack.png">Chat</h3>
      </div>
      <div class="card" id="chatCard">
        <div class="card-body">
          <div class="row">
            <!-- match -->
          </div>
        </div>
        <div class="input-group mb-3" id="chatInputForm">
          <input type="text" class="form-control" placeholder="Send Message">
          <div class="input-group-append">
            <button class="btn" id="chatSendBtn" type="button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--this is the end of the fluid container -->
</div>