<div class="container" id= "mainContainer">   
<!-- This will be the main body of the page--->

<div class ="row">

<!---this is the profile column--->
    <div class="col-4" id="profileColumn">
            <div class="card" id="profileCard">
                <div class="card-body">
<!--- THIS WILL HOLD THE PROFILE IMAGE --->
                        <div class="card">
                            <!--- THIS WILL HOLD THE PROFILE IMAGE --->
                                <div class="card-body" id="profilePicCard">
                                  <div id="profilePicContainer">
                                  <img id="profilePic" >
                                </div>
                                </div>
                            <!-- This will hold the user data (name, age, etc) -->
                            <div class="card">
                            <!-- ! THIS WILL HOLD THE USER'S BASIC INFO ---> 
                                        <div class="card-body" id="profileInfoCard">

                                        </div>
                         </div>
                         <div class="card">
                        <!-- this will hold the user bio -->
                                        <div class="card-body" id="profileBioCard">
                                            <h4>Bio</h4>
                                            <p>Vegan fixie hella irony chillwave small batch chambray squid umami. Drinking vinegar scenester lo-fi thundercats, crucifix whatever XOXO etsy jianbing. Portland biodiesel DIY, blog dreamcatcher disrupt drinking vinegar cold-pressed brooklyn shabby chic. 3 wolf moon kogi gentrify, live-edge plaid single-origin coffee tumeric vape. Church-key viral franzen VHS, four dollar toast lomo semiotics. Lyft banh mi plaid, brunch next level enamel pin air plant. Forage gastropub deep v wolf post-ironic coloring book waistcoat taxidermy raw denim.</p>
                                        </div>
                        </div>

                        </div>
                </div>
            </div>
    </div>
    </div>