* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(rgb(19, 18, 18), rgb(0, 0, 0));
}

#pageContainer {
  min-height: 90%;
  padding-bottom: 10px;
}

footer {
  background: linear-gradient(rgb(19, 18, 18), rgb(0, 0, 0));
  color: white;
  text-align: center;
  padding: 2px;
  height: 35px; /* Footer height */
  border-top: 10px solid;
  border-color: #ff670f;
  height: 10%;
  overflow: auto;
}

a:link {
  text-decoration: none;
}

/* -----scrollbar ----------------------------------------------------------*/
body::-webkit-scrollbar {
  width: 1em;
  background-color: #ff670f;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff670f;
}

/*------- header css -------------------------------------------------------------------*/

header {
  background-image: linear-gradient(-90deg, rgb(1, 1, 1), rgb(138, 66, 25));
  padding-top: 30;
  padding-bottom: 30;
  border-bottom: #ff9345 10px solid;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  margin-top: 15px;
  text-align: center;
}

.highlighter {
  background: #ff9345;
  width: auto;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0.5ex;
}

.navItems {
  float: none;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #ff9345;
}
.nav-link:hover {
  color: rgb(189, 194, 189);
  font-weight: bolder;
}

.buttonList {
  float: none;
  margin: 0 auto;
}

#loginButton {
  background-color: rgb(189, 194, 189);
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
}
#loginButton:hover {
  background: #353232;
}
#signUpButton {
  background-color: #ff9345;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
}
#signUpButton:hover {
  background: #353232;
}
#chat-icon {
  background: none;
  border: none;
}
#match-icon {
  background: none;
  border: none;
}
#profile-icon {
  background: none;
  border: none;
}

/* ---- showcase elements ---------------------------------------------------------------*/

#showcaseCard1 {
  background: url(../img/friends1.jpg);
  background-size: 800px auto;
  background-position: 0;
  background-repeat: none;
  margin: 15px;
  width: 350px;
  height: 450px;
  border-radius: 1.5em;
}

#showcaseCard1 h2 {
  color: white;
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #030303;
}

#showcaseCard1 p {
  font-size: 24px;
  color: white;
  position: relative;
  width: 350px;
  height: 35px;
  right: 21px;
  padding-left: 5px;
  top: 300px;
  background: linear-gradient(-90deg, rgb(1, 1, 1), #ff670f);
}

#showcaseCard2 {
  background: url(../img/friends4.jpg);
  background-size: 400px auto;
  background-position: -65px;
  background-repeat: none;
  margin: 15px;
  width: 250px;
  height: 250px;
  border-radius: 1.5em;
}
#showcaseCard2 h2 {
  color: rgb(224, 222, 218);
  font-weight: bolder;
  text-shadow: 2px 2px 2px #030303;
  stroke: 1px;
}

#showcaseCard2 p {
  font-size: 20px;
  color: white;
  position: relative;
  width: 250px;
  right: 21px;
  padding-left: 5px;
  top: 100px;
  background: linear-gradient(-90deg, rgb(1, 1, 1), #ff670f);
}
.text {
  width: 60%;
  word-wrap: break-word;
  color: rgb(204, 191, 191);
  mix-blend-mode: difference;
}

/* ----About page css--------------------------------------------------------- */

#infoHeading {
  color: white;
}

.aboutModal {
  position: fixed;
  width: 1000px;
  left: 400px;
}

.aboutModalContent {
  background: linear-gradient(rgb(19, 18, 18), rgb(0, 0, 0));
}

.modal-header {
  background-image: linear-gradient(-90deg, rgb(1, 1, 1), rgb(138, 66, 25));
  padding-top: 30;
  padding-bottom: 30;
  border-bottom: #ff9345 10px solid;
  width: 100%;
  margin-bottom: 20px;
}

#aboutCard1 {
  background: url(../img/match1.jpg);
  background-size: 400px auto;
  background-position: -25px;
  background-repeat: none;
  margin: 15px;
  width: 300px;
  height: 300px;
}

#aboutCard2 {
  background: url(../img/date1.jpg);
  background-size: 500px auto;
  background-position: -115px;
  background-repeat: none;
  margin: 15px;
  width: 300px;
  height: 300px;
}

#aboutCard3 {
  background: url(../img/friends3.jpg);
  background-size: 400px auto;
  background-position: -35px;
  background-repeat: none;
  margin: 15px;
  width: 300px;
  height: 300px;
}

#aboutCard1:hover {
  opacity: 0.5;
  cursor: pointer;
}

#aboutCard2:hover {
  opacity: 0.5;
  cursor: pointer;
}

#aboutCard3:hover {
  opacity: 0.5;
  cursor: pointer;
}

.textBlock {
  background: linear-gradient(-90deg, rgb(1, 1, 1), #ff670f);
  color: white;
  position: relative;
  width: 300px;
  height: 40px;
  right: 21px;
  padding-left: 5px;
  top: 25px;
}

#poweredBy {
  margin-top: 100px;
}

.poweredByCard {
  height: 150px;
  width: 150px;
  margin: 15px;
}

#poweredByCard1 {
  background: url(../img/boostrap-logo.png);
  background-color: rgba(209, 203, 203, 0.205);
  background-size: 150px auto;
  background-position: 0;
  background-repeat: none;
}

#poweredByCard2 {
  background: url(../img/html-logo.png);
  background-color: rgba(209, 203, 203, 0.205);
  background-size: 150px auto;
  background-position: 0;
  background-repeat: none;
}

#poweredByCard3 {
  background: url(../img//css-logo.png);
  background-color: rgba(209, 203, 203, 0.205);
  background-size: 150px auto;
  background-position: 0;
  background-repeat: none;
}

#poweredByCard4 {
  background: url(../img/javascript-logo.png);
  background-color: rgba(209, 203, 203, 0.205);
  background-size: 150px auto;
  background-position: 0;
  background-repeat: none;
}

#poweredByCard5 {
  background: url(../img/node-logo.png);
  background-color: rgba(209, 203, 203, 0.205);
  background-size: 150px auto;
  background-position: 0;
  background-repeat: none;
}

/*--- contact page css ------------------------------------------------------------------*/

.contactCard {
  background: rgba(226, 223, 226, 0.795);
  margin-bottom: 10px;
}

.contactCard p {
  margin: 0;
}

/*--- sign-up page is here ------------------------------------------------------------------*/

.surveyBlock {
  margin-top: 35px;
}

#sentimentForm {
  margin-bottom: 25px;
}

/* #upload-picture {
  background-color: #ff9345;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
} */

#submitButton {
  background-color: #ff9345;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/* --- this is the profile/match css ------------------------------------------------------------------*/

#profileCard {
  display: block;
  min-width: 30%;
  text-align: center;
  background: black;
}

#profileCard h4 {
  text-align: left;
}

#profilePic {
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

#profilePicContainer {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#profilePicContainer::after {
  content: attr(data-text);
  font-size: 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  color: white;
  background-image: linear-gradient(#df7b35, #ff9345);
  text-align: center;
  display: block;
}
#profilePicCard {
  background-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(209, 209, 204)
  );
}

#profileInfoCard {
  background-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(209, 209, 204)
  );
  text-align: left;
}

#profileBioCard {
  background-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(209, 209, 204)
  );
}

/* ----the match info goes here--------------------------- */
/* ----the match info goes here--------------------------- */
#matchContentContainer {
  position: relative;
  float: none;
  width: 90%;
  margin: 0 auto;
}

#matchColumn {
  margin: 0;
  background: black;
}

#matchPostContainer {
  display: flex;
  height: 85vh;
  margin-bottom: 0;
}

#matchPost {
  margin: 0;
  background: rgb(0, 0, 0);
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#matchPost::-webkit-scrollbar {
  width: 1em;
  background-color: #ff670f;
}
#matchPost::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
#matchPost::-webkit-scrollbar-thumb {
  background-color: #ff670f;
}

.matchPicContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  float: left;
  position: relative;
  overflow: hidden;
  margin-top: 0;
}

.matchPic {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 0;
}

.matchPicContainer::after {
  content: "yoooo";
  font-size: 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  color: white;
  background-image: linear-gradient(#df7b35, #ff9345);
  text-align: center;
  display: block;
  margin-top: 0;
}

.matchCard {
  width: 100%;
  background: rgb(192, 185, 185);
  height: 180px;
  margin: 0;
  margin-bottom: 5px;
  border: 2px black solid;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(209, 209, 204)
  );
}

.matchCard:hover {
  cursor: pointer;
  background-color: grey;
  opacity: 0.8;
}

.matchHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 2px black solid;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(#df7b35, #ff9345);
  color: black;
  font-size: 22px;
}

.matchHeader img {
  height: 22px;
  width: 22px;
}

.matchInfo {
  margin-right: 0px;
  float: left;
}

.matchInfo.profile,
.matchInfo.age {
  margin-left: 2px;
  width: 25%;
  border-right: 2px black solid;
}

.location.matchInfo {
  width: 50%;
  margin-left: 2px;
  margin-top: 2px;
}

.chatBody {
  position: relative;
  bottom: 25px;
  margin-top: 10px;
}

.chatBody p {
  font-size: 12px;
  margin-top: 0;
}

.chatBody h3 {
  margin-bottom: 0;
}

.matchModal {
  text-decoration: none;
  decoration: none;
}

#chatCard {
  width: 100%;
  background: rgb(192, 185, 185);
  min-height: 75%;
  margin: 0;
  margin-bottom: 5px;
  border: 2px black solid;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(209, 209, 204)
  );
}

.chatPic {
  float: left;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 0;
}

#chatSendBtn {
  decoration: none;
  background-color: #ff9345;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
}

#chatInputForm {
  margin-left: 8px;
  margin-bottom: 5px;
  width: 97%;
}

#chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 2px black solid;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(#df7b35, #ff9345);
  color: black;
  font-size: 22px;
}

#chatHeader h3 {
  margin-left: 3px;
  margin-top: 3px;
}

#chatAlert {
  margin-top: 0;
}
/* -------------------------chat page----------------------------- */

#chat-container {
  min-width: 90%;
  min-height: 500px;
  background: rgb(194, 194, 194);
  border-radius: 5px;
}

#chat-header {
  text-align: center;
  margin: 10px;
}

#chat-mate {
  margin: 10px;
}

#chat-box {
  margin: 10px;
  min-width: 90%;
  min-height: 500px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

/* *******Media Queries************************************ */
/* ************************************************************ */
@media (min-width: 992px) {
  .navItems {
    margin: 0;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    float: right;
  }
  .buttonList {
    left: 175px;
    margin-bottom: 2px;
  }
  header h1 {
    text-align: none;
    float: left;
  }
}
